body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  background-color: #fbfff4;
}

/****************************** MENU ******************************/
nav {
  background-color: #9243da;
  box-shadow: 5px 5px 8px #ff67d5;
}
nav .nav-item {
  padding: 5px 0;
}
nav .nav-item a {
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  color: #fbfff4;
  margin: 0 10px;
  transition: all 0.7s ease-in;
}

nav .nav-item a:hover {
  background-color: #fae112;
  color: #9243da;
  border-radius: 5px;
}
nav .navbar-toggler {
  border: 2px solid #fae112;
}
nav .navbar-toggler:focus {
  box-shadow: none;
}
nav .navbar-toggler i {
  color: #fae112;
  font-size: 27px;
}
nav .navbar-nav {
  text-align: center;
}
nav .dropdown-menu {
  background-color: #ff67d5;
  border: none;
}

.logo {
  border-radius: 30%;
  max-height: 150px;
}

/****************************** FUENTES ******************************/

.titulo1 {
  font-size: 4.5rem;
  color: #fbfff4;
}

.titulo2 {
  font-size: 4rem;
  padding-top: 120px;
  background: linear-gradient(90deg, #9243da, #ff67d5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.texto {
  font-size: 1.5rem;
  color: #fbfff4;
}

.texto1 {
  font-size: 1.5rem;
  color: #212121;
}
.texto2 {
  font-size: 1.5rem;
  color: #212121;
}

.texto3 {
  font-size: 1rem;
  color: #212121;
}

.texto4 {
  font-size: 1.2rem;
  color: #212121;
}

.subtitulo1 {
  color: #212121;
}

.subtitulo2 {
  font-size: 1.7rem;
  color: #212121;
}

.subtitulo3 {
  font-size: 1.7rem;
  color: #212121;
}

/****************************** SECTION 1 ******************************/
.icono {
  display: block;
  margin: 10px auto 0;
  font-size: 80px;
  color: #fbfff4;
  cursor: pointer;
}

.banner-section1 {
  display: flex;
  align-items: center;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-image: url("../img/img1.jpg");
  background-color: #fbfff4;
  background-blend-mode: multiply;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}

/****************************** SECTION 2 ******************************/
.servicios {
  background-color: #ffedff;
  padding-bottom: 50px;
}

.icon {
  color: #9243da; /* Color para los iconos de Vision y Mision */
  border-radius: 50%;
  background-color: #fae112; /* Fondo hexagonal para los iconos */
  width: 150px; /* Aumenta el ancho del fondo */
  height: 150px; /* Aumenta la altura del fondo */
  padding: 30px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/****************************** SECTION 3 ******************************/

.nuestro_equipo {
  background-color: #fffee8;
  padding-bottom: 100px;
}

.owl-prev {
  position: absolute;
  top: 23%;
  left: -4%;
  background: url("../img/left.svg") no-repeat;
}

.owl-next {
  position: absolute;
  top: 23%;
  right: -4%;
  background: url("../img/right.svg") no-repeat -39px 0px;
}

/* configuracion tira */

.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  margin: 2% 0 4%;
}

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
}

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
  float: left;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer;
}

.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/****************************** SECTION 4 ******************************/

.cursos {
  background-color: #ffedff;
  padding-bottom: 80px;
}

/* Ajustar la altura máxima del carrusel */
.carousel-inner {
  max-height: 600px; /* Ajusta la altura según el contenido */
}

/* Personalizar las flechas del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #b1ff6f; /* Color de las flechas */
  width: 50px; /* Ajustar el tamaño si es necesario */
  height: 50px;
}

/* Posicionar las flechas a los lados, fuera del contenido */
.carousel-control-prev,
.carousel-control-next {
  width: 5%; /* Ajusta el ancho para que las flechas estén fuera de los cards */
}

/* Efecto de hover en las tarjetas */
.card {
  transition: transform 0.2s;
}
.card:hover {
  transform: scale(1.05);
}

.card-body {
  background-color: #9243da; /* Elige el color de fondo que prefieras */
  padding: 20px; /* Agregar un poco de padding para más espacio alrededor del texto */
  border-radius: 5px; /* Agregar bordes redondeados si lo deseas */
}

/* Opcional: Ajustar el color del texto dentro del card-body */
.card-body h5,
.card-body p {
  padding: 10px;
  color: #212121; /* Cambia el color del texto si es necesario */
}

/****************************** SECTION 4 ******************************/
.talleres {
  background-color: #fffee8;
  padding-bottom: 50px;
}

/****************************** SECTION 5 ******************************/

#btnSend {
  background-color: #9243da;
  color: #fae112;
}

.sectionForm {
  background-color: #ffedff;
}

.sectionForm .containerForm {
  width: 80%;
  padding: 20px;
}

.sectionForm .containerForm .formRow {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.sectionForm .containerForm .formRow .colForm {
  position: relative;
  width: 100%;
  padding: 0px 10px;
  margin: 30px 0px 10px;
  transition: 0.5s;
}

.sectionForm .containerForm .formRow .colForm .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: #9243da;
  font-weight: bold;
}

.sectionForm .containerForm .formRow .colForm .inputBox input,
.sectionForm .containerForm .formRow .colForm .inputBox.textarea textarea {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  border: none;
  font-size: 18px;
  padding: 0px 10px;
  z-index: 1;
  color: #9243da;
}

.sectionForm .containerForm .formRow .colForm .inputBox .text {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0px 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}

.sectionForm .containerForm .formRow .colForm .inputBox input:focus + .text,
.sectionForm .containerForm .formRow .colForm .inputBox input:valid + .text {
  left: -10px;
  top: -35px;
}

.sectionForm .containerForm .formRow .colForm .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
  background-color: #fae112;
}

.sectionForm .containerForm .formRow .colForm .inputBox input:focus ~ .line,
.sectionForm .containerForm .formRow .colForm .inputBox input:valid ~ .line {
  height: 100%;
}

.sectionForm .containerForm .formRow .colForm .inputBox.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0px;
}

.sectionForm .containerForm .formRow .colForm .inputBox.textarea textarea {
  height: 100px;
  resize: none;
}

.sectionForm .containerForm .formRow .colForm .inputBox textarea:focus + .text,
.sectionForm .containerForm .formRow .colForm .inputBox textarea:valid + .text {
  left: -10px;
  top: -35px;
}

.sectionForm .containerForm .formRow .colForm .inputBox textarea:focus ~ .line,
.sectionForm .containerForm .formRow .colForm .inputBox textarea:valid ~ .line {
  height: 100%;
}

input[type="submit"] {
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background-color: #fae112;
  color: #9243da;
  font-weight: bold;
  font-size: 18px;
  border-radius: 2px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

.alertaRoja {
  color: #ff0000;
  font-weight: 500;
  font-size: 18px;
}

.alertaVerde {
  color: #8bc34a;
  font-weight: 500;
  font-size: 18px;
}

/****************************** SCROLL TOP ******************************/
.goto-top {
  position: fixed;
  bottom: 25px;
  right: 5px;
  width: 80px;
  height: 80px;
}

/****************************** BOTON WHATSAPP ******************************/
.whatsapp-button {
  position: fixed;
  bottom: 30px;
  left: 15px;
  background-color: #25d366;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
  background-color: #1ebc59;
}

.whatsapp-button img {
  width: 30px;
  height: 30px;
}

/****************************** FOOTER ******************************/
.footer {
  background-color: #9243da; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 20px 0; /* Espaciado interno */
}

.social-media {
  text-align: center; /* Centrar contenido */
}

.social-media h6 {
  margin-bottom: 10px; /* Espacio debajo del título */
}

.social-icon {
  background: linear-gradient(90deg, #9243da, #ff67d5, #b1ff6f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 30px; /* Tamaño de los iconos */
  margin: 0 10px; /* Espacio entre íconos */
  transition: transform 0.3s; /* Transición para el efecto hover */
}

/* Para pantallas medianas y pequeñas (tablets y móviles) */
@media (max-width: 768px) {
  .titulo1 {
    font-size: 2.5rem;
    padding-top: 120px;
  }
  .titulo2 {
    font-size: 2rem;
    padding-top: 30px;
  }

  .texto1 {
    font-size: 1.1rem;
  }
  .texto2 {
    font-size: 1.1rem;
  }
  .texto3 {
    font-size: 0.9rem;
  }
  .texto4 {
    font-size: 1rem;
  }
  .subtitulo2 {
    font-size: 1.4rem;
  }

  .subtitulo3 {
    font-size: 1.4rem;
  }

  .banner-section1 {
    background-attachment: scroll;
    height: auto;
    padding: 20px;
  }

  .servicios,
  .nuestro_equipo,
  .cursos {
    padding: 20px 0;
  }

  .icono {
    font-size: 50px;
  }

  .icon {
    width: 100px;
    height: 100px;
    font-size: 50px;
  }

  .carousel-inner {
    max-height: 400px;
  }

  .sectionForm .containerForm {
    width: 100%;
  }

  .goto-top {
    width: 75px;
    height: 75px;
    bottom: 25px;
  }

  .whatsapp-button {
    width: 60px;
    height: 60px;
    bottom: 30px;
  }
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 576px) {
  .titulo1 {
    font-size: 2.5rem;
    padding-top: 120px;
  }
  .titulo2 {
    font-size: 2rem;
    padding-top: 30px;
  }

  .texto1 {
    font-size: 1.1rem;
  }
  .texto2 {
    font-size: 1.1rem;
  }
  .texto3 {
    font-size: 0.9rem;
  }
  .texto4 {
    font-size: 1rem;
  }
  .subtitulo2 {
    font-size: 1.4rem;
  }

  .subtitulo3 {
    font-size: 1.4rem;
  }

  .icon {
    width: 80px;
    height: 80px;
    font-size: 40px;
  }

  .banner-section1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .sectionForm .containerForm .formRow {
    grid-template-columns: 1fr;
  }

  input[type="submit"] {
    padding: 5px 20px;
    font-size: 14px;
  }

  .goto-top {
    width: 75px;
    height: 75px;
    bottom: 25px;
  }

  .whatsapp-button {
    width: 60px;
    height: 60px;
    bottom: 30px;
  }
}
